# Running tests creates this completion dump file.
tests/.zcompdump

# Test failure reports
tests/*.t.err

# If the $ADOTDIR is the same as the antigen's clone directory itself, the
# following would be shown as untracked.
repos/
revert-info

# Cache directory for ext/zcache
.cache/
